<h4>Basic mat-select</h4>
<mat-form-field appearance="fill">
  <mat-label>Select Sample File</mat-label>
  <mat-select (selectionChange)="changeData($event)" value="1">
    <mat-option *ngFor="let sample of samples" [value]="sample.sample">
     Data {{sample.sample}}
    </mat-option>
  </mat-select>
</mat-form-field>


<div style="margin-top: 10px;" *ngFor="let item of transformedData">
  <div style="display: flex;flex-direction: row;">
    <p>{{item.key | titlecase }} :  </p>
  <div style="margin-left: 20px;" *ngIf="item.type === 'plain'; else tableBlock ">
    <p >{{item.value}}</p>
  </div>
  <ng-template #tableBlock>
    <table style="margin-left: 20px;">
      <thead>
          <tr>
              <th *ngFor="let child of item.value">
                {{child.key | titlecase}}
              </th>
          </tr>
      </thead>
      <tbody>
        <td *ngFor="let child of item.value">
          <span *ngIf="child.value !== 'icon' ">{{child.value}}</span>
          <mat-icon>
            <span *ngIf="child.value === 'icon' ">
              <mat-icon>arrow_forward</mat-icon>
            </span>
          </mat-icon>
        </td>
      </tbody>
  </table>
  </ng-template>
  </div>
</div>